New Epic <%= @epic.to_reference(full: true) %> was created.

<%= url_for(group_epic_url(@epic.group, @epic)) %>

Author: <%= sanitize_name(@epic.author_name) %>
<% if @epic.assignee %>
Assignee: <%= sanitize_name(@epic.assignee.name) %>
<% end %>

<%= @epic.description %>
